:root {
    --tcPadding: max(15vw);
    --verticalGap: max(2.2vh);
    --horizontalGap: max(0.8vw);
    --r2c3Paddings: max(6.5vw);
}

body {
    background-image: url("https://wallpapers.com/images/featured/lo-fi-mvqzjym6ie17firw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    cursor: url('https://i.ibb.co/60tk0khC/image-removebg-preview-1-1-optimized.png'), auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-family: "Inconsolata", monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    width: 100%;
    /* background-color: blue; */
    transform: translateY(-23vh);
    scale: 0.95;
    flex-wrap: wrap;
}

.c1-r1-container, .row2container {
    display: flex;
    gap: var(--horizontalGap);
    margin-top: 0;
}

.set-more-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
    height: 100%;
}

.more-container {
    margin-top: 1vh;
}

.more-icon, .settings-icon {
    width: 2vw;
    background-color: red;
    border-radius: 10px;
    padding: 3.515vh 0.517vw 3.515vh 0.517vw;
    box-shadow: 3.333px 6.666px #000000;
    cursor: pointer;

    background: linear-gradient(90deg, #7341a9, #00ffa6);
    background-size: 200% 100%;
    animation: gradientAnimation 6s infinite ease-in-out;
    transition: transform 0.8s ease-in-out, backdrop-filter 0.8s ease-in-out, box-shadow 0.8s ease-in-out, filter 0.8s ease-in-out;
}

.more-icon:hover, .settings-icon:hover {
    transform: scale(1.04);
    backdrop-filter: blur(2px);
    box-shadow: 8px 12px #434343;
    filter: hue-rotate(45deg); /* Smooth color shift */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Base Styles */
.timeContainer1 {
    display: flex;
    padding-left: var(--tcPadding);
    padding-right: var(--tcPadding);
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding-bottom: 2vh;
    box-shadow: 5px 10px #000000;

    background: linear-gradient(90deg, #7341a9, #00ffa6);
    background-size: 200% 100%;
    animation: gradientAnimation 6s infinite ease-in-out;
    transition: transform 0.8s ease-in-out, backdrop-filter 0.8s ease-in-out, box-shadow 0.8s ease-in-out, filter 0.8s ease-in-out;
}

/* Hover Effect */
.timeContainer1:hover {
    transform: scale(1.01);
    backdrop-filter: blur(2px);
    /* box-shadow: 8px 12px #434343; */
    filter: hue-rotate(45deg); /* Smooth color shift */
}

.timeContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.timeDescriptionContainer {
    display: flex;
    gap: 1vw;
    justify-content: center;
    padding-bottom: 3%;    
    margin-left: 4%;
}

.timeNumber {
    font-size: calc(2vw + 1.5vh);
}

#timeDescriptionText {
    display: flex;
    font-size: calc(0.75vw + 0.5vh);
}

.colon {
    font-size: calc(1.1vw + 0.75vh);
}

#ampm {
    font-size: calc(0.9vw + 0.65vh);
    margin-left: 65%;
}

.row2container {
    margin-top: var(--verticalGap);
}

.particleContainer {
    display: flex;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    box-shadow: 5px 10px #000000;

    /* Smooth transition for both hover and unhover */
    transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.particleContainer:hover {
    transform: scale(1.01);
    backdrop-filter: blur(6px);
    /* box-shadow: 8px 12px #434343; */
}


#particleTitleText {
    font-size: calc(1vw + 0.8vh);
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    margin-top: 0;
}

#particlesButtonRain {
    border: none;
    background-color: transparent;
    border-radius: 15px;
    font-size: calc(0.7vw + 0.7vh);
    padding: 0.8vw;
    max-width: 10vw;
}

#particlesButtonRain:hover {
    animation-name: particlesButtonRain-hover;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#particlesButtonRain:disabled {
    pointer-events: none;
}

@keyframes particlesButtonRain-hover {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(3px);
    }
}

#rainGif {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
}

#rainGifImage {
    visibility: hidden;
    width: 300%;
    max-height: 200%;
    pointer-events: none;
    opacity: 0.5;
}

.particleButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.particlesDescriptionTitles {
    display: flex;
    justify-content: center;
    gap: 2vw;
    font-family: "Space Grotesk", sans-serif;
    padding-left: 1vw;
    font-size: calc(0.7vw + 0.55vh);
}

#snowGif {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 120vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
    pointer-events: none;
}

#snowGifImage {
    visibility: hidden;
    width: 300%;
    max-height: 200%;
    pointer-events: none;
    opacity: 0.5;
}

#particlesButtonSnow {
    border: none;
    background-color: transparent;
    border-radius: 15px;
    font-size: calc(0.7vw + 0.7vh);
    padding: 0.8vw;
}

#particlesButtonSnow:hover {
    animation-name: particlesButtonSnow-hover;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#particlesButtonSnow:disabled {
    pointer-events: none;
}

@keyframes particlesButtonSnow-hover {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(3px);
    }
}

.weatherContainer {
    display: flex;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    box-shadow: 5px 10px #000000;

    /* Smooth transition applied for both hover and unhover */
    transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.weatherContainer:hover {
    transform: scale(1.01);
    backdrop-filter: blur(6px);
    /* box-shadow: 8px 12px #434343; */
}


#weatherTitleText {
    font-size: calc(1vw + 0.8vh);
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    margin-top: 0;
}

.weatherDescriptionTitles {
    display: flex;
    justify-content: center;
    gap: 3vw;
    font-family: "Space Grotesk", sans-serif;
    font-size: calc(0.7vw + 0.55vh);
}

.weatherButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#weatherButtonsStorm {
    border: none;
    background-color: transparent;
    border-radius: 15px;
    font-size: calc(0.7vw + 0.7vh);
    padding: 0.8vw;
}

#weatherButtonsStorm:hover {
    animation-name: weatherButtonsStorm-hover;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#weatherButtonsStorm:disabled {
    pointer-events: none;
}

@keyframes weatherButtonsStorm-hover {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(3px);
    }
}

#weatherButtonsBlizzard {
    border: none;
    background-color: transparent;
    border-radius: 15px;
    font-size: calc(0.7vw + 0.7vh);
    padding: 0.8vw;
}

#weatherButtonsBlizzard:hover {
    animation-name: weatherButtonsBlizzard-hover;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#weatherButtonsBlizzard:disabled {
    pointer-events: none;
}

@keyframes weatherButtonsBlizzard-hover {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(3px);
    }
}

#lightningGif {
    visibility: hidden;
    position: fixed;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
    margin-left: 70%;
}

#lightningGifImage {
    visibility: hidden;
    width: 300%;
    max-height: 200%;
    margin-bottom: 70%;
    pointer-events: none;
}

#blizzardGif {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 120vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
}

#blizzardGifImage {
    visibility: hidden;
    width: 300%;
    max-height: 200%;
    pointer-events: none;
    opacity: 0.4;
}

.wallpaperContainer {
    margin-top: var(--verticalGap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-bottom: 0.7%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    box-shadow: 5px 10px #000000;
    padding-bottom: 10px;
    margin-bottom: 10px;

    /* Smooth transition for both hover and unhover */
    transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.wallpaperContainer:hover {
    transform: scale(1.01);
    backdrop-filter: blur(6px);
    /* box-shadow: 8px 12px #434343; */
}


#bg1Preview {
    height: calc(3vw + 3vh);
    width: calc(3vw + 3vhh);
    border: 5px solid rgb(41, 38, 38);
    border-radius: 10px;
    margin-left: 3vw;
}

#bg2Preview, #bg3Preview, #bg4Preview {
    height: calc(3vw + 3vh);
    width: calc(3vw + 3vh);
    border: 5px solid rgb(41, 38, 38);
    border-radius: 10px;
}

#bg4Preview {
    margin-right: 3vh;
}

.picNbuttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallpaperButtonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    gap: 1.3vw;
    padding-bottom: 1vh;
}

.wallpaperImagePreviews {
    display: flex;
    margin-right: 1vw;
    gap: 1.4vw;
}

.wallpaperButton {
    border: none;
    background-color: transparent;
    border-radius: 15px;
    font-size: calc(0.75vw + 0.75vh);
    padding: 0.7vw;
}

.wallpaperButton:hover {
    animation-name: wallpaperButton-hover;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.wallpaperButton:disabled {
    pointer-events: none;
}

@keyframes wallpaperButton-hover {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(3px);
    }
}

#wallpaperTitleText {
    font-size: calc(1vw + 0.8vh);
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    padding-left: 15vw;
    padding-right: 15vw;
}


/* To Do List */


.column2 {
    margin-top: 12%;
}

.tdContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 5px 10px #000000;
    width: 100%;
    height: 40vh;

    /* Smooth transition for hover and unhover */
    transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tdContainer:hover {
    transform: scale(1.01);
    backdrop-filter: blur(6px);
    /* box-shadow: 8px 12px #434343; */
}



.tdPanel {
    border: 2px solid #e8eaf6;
    border-radius: 15px;
    background-color: #f7f9fc;
    height: 100%;
    overflow-y: auto;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

.tdHeader {
    font-size: calc(1vw + 0.7vh);
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    text-align: center;
    color: black;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    margin-bottom: 0.75rem;
    background-color: #e0f7fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: grab;
}

.todo-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.todo-item input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1rem;
    color: #2c3e50;
}

.todo-item input[type="time"] {
    width: 7rem;
}

.todo-item.disabled {
    background-color: #f0f0f0;
    pointer-events: none;
    opacity: 0.6;
}

.todo-item.disabled .select-task {
    pointer-events: auto;
    opacity: 1;
}

.tdContainer button {
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 10px;
    padding: 1vh 1.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: calc(0.7vw + 0.7vh);
    max-width: 10vw;
}

.tdContainer button:focus {
    outline: none;
    transform: translateY(-2px);
}

.btn-add {
    background-color: #5dade2;
    color: white;
    
}

.btn-add:hover {
    background-color: #3498db;
}

.btn-remove {
    background-color: #e74c3c;
    color: white;
}

.btn-remove:hover {
    background-color: #c0392b;
}

.btn-save {
    background-color: #2ecc71;
    color: white;
}

.btn-save:hover {
    background-color: #27ae60;
}

.btn-select-all {
    background-color: #f1c40f;
    color: white;
}

.btn-select-all:hover {
    background-color: #f39c12;
}

/* Add custom scroll bar styling */
.tdPanel::-webkit-scrollbar {
    width: 10px;
}

.tdPanel::-webkit-scrollbar-thumb {
    background-color: #b2bec3;
    border-radius: 10px;
}

.tdPanel::-webkit-scrollbar-track {
    background-color: #f7f9fc;
    border-radius: 10px;
}

.tdButtons {
    display: flex; 
    justify-content: center;
    gap: 15px;
}


/* audio player */

.audio-player {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #282828;
    padding: 15px 20px 15px 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    z-index: 9;
}

.si-c-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.song-info {
    text-align: center;
    width: 20vw;
    margin-right: -1vw;
}

.song-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.song-artist {
    font-size: 14px;
    color: #b3b3b3;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-right: -8vw;
}

.controls button {
    background: #1DB954;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.controls button:hover {
    background: #1ed760;
}

.progress-container {
    width: 80%;
    margin-left: 10%;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background: #404040;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 15px;
}

.progress {
    height: 100%;
    background: #1DB954;
    width: 0%;
}

.progress-thumb {
    position: absolute;
    top: -3px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: left 0.1s ease;
    z-index: 10;
}

.time-display {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #b3b3b3;
    margin-top: 5px;
}

.volume-control {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #b3b3b3;
}

.volume-control input[type="range"] {
    appearance: none;
    width: 7vw;
    height: 6px;
    background: #404040;
    border-radius: 3px;
    outline: none;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: #87d3a2;
    border-radius: 50%;
    cursor: pointer;
}

.playlist {
    width: 100%;
}

.playlist-dropdown {
    width: 15vw;
    background-color: #333333;
    color: white;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 2vw;
}

.playlist-dropdown:hover {
    background: #404040;
}

.playlist-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.playlist-controls button {
    background: #404040;
    border: none;
    color: white;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.playlist-controls button:hover {
    background: #1DB954;
}

#autoplay-button {
    width: 9vw;
    margin-right: 7vw;
}

.gsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    background: white;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 5px 10px #000000;
    height: 5vh;
    width: 100%;
    margin-top: var(--verticalGap);

    /* Smooth transition for both hover and unhover */
    transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gsContainer:hover {
    transform: scale(1.01);
    backdrop-filter: blur(6px);
    /* box-shadow: 8px 12px #434343; */
}


.gsItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.gsTitle {
    font-size: calc(1vw + 0.7vh);
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
}


.genre-dropdown {
    width: 30%;
    height: 5vh;
    background-color: #a6a1a1;
    color: white;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.genre-dropdown:hover {
    background: #7a7373;
}

.ap-dd-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.pc-vc-container {
    display: flex;
    flex-direction: row;
    margin-left: 6vw;
    width: 100%;
    gap: 2vw;
}

.column1 {
    margin-top: 13%;
}

.c2-r3-container {
    display: flex;
    justify-content: center;
    gap: var(--horizontalGap);
}


.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 5px 10px #000000;
    margin-top: 2.5vh;
    width: 20vw;
    height: 17vh;
    /* Smooth transition for both hover and unhover */
    transition: transform 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profileContainer:hover {
    transform: scale(1.01);
    backdrop-filter: blur(6px);
    /* box-shadow: 8px 12px #434343; */
}

#profileIcon {
    width: 90px;
    height: 90px;
    margin-top: 3vh;
    cursor: pointer;
    border-radius: 10px;
    /* border: 5px solid black; */
    transition: transform 0.3s ease-in-out;
}

#profileIcon:hover {
    transform: scale(1.05);
}

#username {
    font-size: 30px;
    margin-top: 1vh;
    cursor: pointer;
}

.c2r3-square-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    background: white;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 5px 10px #000000;
    margin-top: 2.5vh;
}

/* --------START OF MEDIA QUERIES-------------- */



@media (max-width: 1025px) {
    main {
        scale: 1.5;
        margin-top: 40vh;
        width: 50%;
        margin-left: 25%;
        transform: translateY(-5vh);
    }

    .tdButtons {
        gap: 5px;
    }

    .btn {
        width: 100px;
        font-size: 11px;
    }

    .row2container {
        height: 15vh;
        margin-top: 3vh;
        gap: 2vw;
    }

    .wallpaperContainer {
        margin-top: 3vh;
    }

    

    .audio-player {
        justify-content: center;
    }

    .playlist-dropdown {
        width: 100%;
    }

    #autoplay-button {
        width: 100%;
    }

    .song-info {
        width: 230px;
    }

    .audio-player {
        flex-wrap: wrap;
        gap: 0;
    }

    .pc-vc-container {
        margin-right: 20%;
        gap: 10vw;
    }

    .progress-container {
        margin-right: -20vw;
        margin-left: -5%;
    }

    .volume-control {
        margin-left: 15vw;
        margin-right: -13vw;
    }

    #volume-slider {
        width: 24vw;
    }

    .controls button {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }

    .si-c-container {
        margin-right: 20vw;
    }
}

@media (max-width: 1050px) {
    #autoplay-button {
        margin-right: 5vw;
    }
}
@media (max-width: 1025px) {
    .column2 {
        margin-top: auto;
    }
}

/* ------------------END OF MEDIA QUERIES------------------ */
